<div class="row">
	<h1><%= @user.username %>さんのページ</h1>
</div>

<div class="row">
	<h2><%= "全部で#{@books.count}冊の本を読みました。" %></h2>
</div>

<div class="row">
	<h3><%= link_to '読んだ本一覧', user_books_path(@user) %></h3>
	<% if @user.id == current_user.id %>
		<h3><%= link_to 'Edit account', edit_user_registration_path %></h3>
	<% end %>
</div>
